[submodule "deps/vargs"]
	path = deps/vargs
	url = https://github.com/cloudhead/vargs.git
[submodule "deps/jsdom"]
	path = deps/jsdom
	url = https://github.com/tmpvar/jsdom.git
[submodule "deps/g.raphael"]
	path = deps/g.raphael
	url = https://github.com/DmitryBaranovskiy/g.raphael.git
[submodule "deps/raphael"]
	path = deps/raphael
	url = https://github.com/DmitryBaranovskiy/raphael.git
